@import url('https://fonts.googleapis.com/css2? family= Baile+Script & family= Fredoka:wght@300 & family= Handlee & familia= Montserrat:peso@200 &family= Tajawal:wght@800 & display=swap' );
@import url('https://fonts.googleapis.com/css2? family= Baile+Script & family= Fredoka:wght@300 & family= Handlee & familia= Montserrat:peso@200;700 &family= Tajawal:wght@800 & display=swap' );
@import url('https://fonts.googleapis.com/css2? family= Baile+Script & family= Fredoka:wght@300 & family= Handlee & familia= Montserrat:ital,peso@0,200;0,700;1,500;1,600 &familia = Fuente + Sans + Pro: peso @ 600 &family= Tajawal:wght@800 & display=swap' );

@import url(https://fonts.googleapis.com/css?family=Righteous);


$color1:white;
$color2:black;
$color3:rgb(247, 175, 41);
$color4:rgb(24, 49, 163);
$color5:rgb(101, 101, 138);
$color6:rgb(0, 119, 255);
$color7:rgb(255, 51, 0);
$color8:rgba(240, 82, 20, 0.692);
$color9:rgba(29, 34, 75, 0.5);
$color10:rgb(253, 130, 82);
$color11:rgb(112, 190, 253);
$color12:rgb(252, 252, 177);
$color13:rgba(250, 249, 247, 0.922);


$font1:'Montserrat', sans-serif;
$font2:'Source Sans Pro', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo1{
    background: rgb(58,130,180);
    background: linear-gradient(90deg, rgba(58,130,180,0.8774860285911239) 0%, rgba(253,100,29,0.9307073171065301) 50%, rgba(245,243,241,0.9223039557619923) 100%);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.logo{
    color: $color7;
    font-family: $font1;
    font-size: 50px;
    text-shadow: 2px 2px $color2;
}
.logo2{
    color: $color6;
    font-family: $font2;
    font-size: 30px;
    text-shadow: 1.5px 1.5px $color2;
    text-transform: uppercase;
}
.navbar{
    background-color: $color7;
}
.navlogo{
    color: $color6;
    font-family: $font1;
    font-size: 25px;
    text-shadow: 1.5px 1.5px $color2;
}
.navlogo:hover{
    color: $color1;
    text-shadow: 2px 2px $color2;
}
.nav-link{
    color: $color6!important;
    font-family: $font1;
    font-size: 18px;
}
.nav-link:hover{
    color: $color1 !important;
}
.navitem{
    color: $color6;
}
.baner{
    background-image: url(./img/fondo\ banner\ 3.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
}
.principal{
    background-color: $color9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
h1{
    float: left;
    position: relative;
    color: $color6;
    font-family: $font1;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 1.5px 1.5px $color7;
}
.subti{
    color: $color1;
    font-family: $font2;
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 1.5px 1.5px $color6;
}
.p{
    color: $color1;
    font-family: $font2;
    font-size: 25px;
    text-transform: capitalize;
    text-shadow: 1px 1px $color6;
}
button{
    background-color: $color6;
    color: $color7;
    font-family: $font2;
    font-size: 10px;
    border-radius: 5px;
    padding: 3px;
    text-shadow: 1.5px 1.5px $color2;
    border: double 5px $color7;
}
button:hover{
    color: $color6;
    background-color: $color7;
    text-shadow: 1.5px 1.5px $color2;
    border: double 5px $color6;
}
.nos{
    background-image: url(./img/nosotros.svg);
    background-size: cover;
    width: 100%;
    height: 800px;
}
.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    padding: 10%;
    gap:10%;
    width: 100%;
    height: 1500px;
}
.card-img-top{
    height: 150px;
}
.card-body{
    height: 300px;
    background-color: rgba(249, 226, 204, 0.922);
}

.card:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.card-title{
    color:$color6;
    font-family: $font2;
    text-transform: uppercase;
    background-color: $color7;

}
.card-text{
    color: $color2;
    font-family: $font2;
    font-size: 18px;
    text-align: center;
    align-items: center;
}
.btn-primary{
    color: $color7;
    font-family: $font2;
    background-color: $color6;
    border: double 3px $color2;
    text-shadow: 0.5px 0.5px $color1;
    padding: 3%;
}
.btn-primary:hover{
    color: $color6;
    background-color: $color7;
}
.footer{
        background: rgb(58,130,180);
        background: linear-gradient(90deg, rgba(58,130,180,0.8774860285911239) 0%, rgba(253,100,29,0.9307073171065301) 50%, rgba(245,243,241,0.9223039557619923) 100%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 5px 5px;
        grid-auto-flow: column;
        grid-template-areas:
        "ubicacion email telefonos horarios";
    }

    .ubicacion { 
        grid-area: ubicacion; 
        text-align: center;
        justify-content: center;
        font-size: $font1;
    }
      
      .email { grid-area: email; }
      
      .telefonos { grid-area: telefonos; }
      
      .horarios { grid-area: horarios; }
    p{
        color: $color7;
        font-size: 20px;
        font-family: $font1;
        text-align: center;
    }
    h4{
        text-align: center;
        font-size: 25px;
        font-family: $font1;
        text-transform: uppercase;
        color: $color6;
        text-shadow: 1px 1px $color2;
    }
h2{
    padding: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $color1;
    font-family: $font2;
    font-size: 50px;
    text-transform: capitalize;
    text-shadow: 1.8px 1.8px $color6;
}
.btn-wsp{
    background-image: url(./img/whatsapp.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 30px;
    right: 30px;
    border-radius: 40px;
    border: double 2px $color7;
}
.contenedor{
    margin: auto;
    background-color: $color9;
    display: table;
    width: 50%;
}
h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: $color6;
    animation: maquina 5s infinite alternate;
}
#animacion{
    font-size: 60px;
}
@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

body{
    background-color: $color12;
}

.maquinas{
    padding: 30px;
    height: 3200px;
}
.product-row{
    display: flex;
    justify-content: space-evenly !important;
    align-content: center;
    gap: 10%;
}
.card-product{
    background-color: $color11;
    height: 600px!important;
    border: 3px solid $color7;
    margin-bottom: 10px;
}
.card-product:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.card-text{
    font-size: 10px;
}
.btn-primary{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-img-top{
    height: 300px;
    background-color: $color1;
    width: 100%;
}

.hero{
    width: 100%;
    height: 500px;
    background-image: url(/img/2carrousel.jpg);
    background-size: cover;
    background-position: center;
}
.envios{
    background-image: url(./img/envios1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tit-envio{
    background-color: $color7;
    font-size: 30px;
    width: 100%;
}
.tex-envio{
    padding: 5px;
    background-color:$color9;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1.5px 1.5px $color6;
    text-transform: capitalize;
}
.contac{
    background-image: url(./img/fondocontacto.jpg);
    background-size: 100vw 100vh;
    height: 650px;
    background-position: center;
    background-attachment: fixed;
    font-family: $font1;
}
form{
    width: 500px;
    margin: auto;
    background-color: $color9;
    padding: 10px 20px;
    border-radius: 10px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;

}
textarea{
    min-height: 100px;
    max-height: 200px;
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}

.sub-insumos{
    font-size: 40px;
    background-color: $color7;
}
.banner-insumos{
    background-image: url(./img/insumos.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}

.insumos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 2500px;
}
.insumos-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.card{
    height: 400px;
    margin-top: 20px;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.sub-cont{
    background-color: $color7;
}
.secservicios {  
    display: grid;
    height: 800px;
    grid-template-columns: 2.5fr 2.5fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: column;
    grid-template-areas:
    "textoserviciotecnico imagenserviciotecnico"
    "imagenlimpieza textolimpieza"
    "textorepuestos imagenrepuestos";
    background: rgb(58,130,180);
    background: linear-gradient(90deg, rgba(58,130,180,0.8774860285911239) 0%, rgba(253,100,29,0.9307073171065301) 50%, rgba(245,243,241,0.9223039557619923) 100%);
}

.textoserviciotecnico { 
    grid-area: textoserviciotecnico;
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.imagenserviciotecnico {
    grid-area: imagenserviciotecnico;
    background-image: url(./img/servicio-tecnico-fotocopiadora.jpg); 
    background-size: cover;
    background-position: center;

}

.imagenlimpieza {
    grid-area: imagenlimpieza; 
    background-image: url(./img/LIMPIEZA.jpg);
    background-position: center;
    background-size: cover;

}

.textolimpieza { 
    grid-area: textolimpieza; 
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imagenrepuestos {
    grid-area: imagenrepuestos;
    background-image: url(./img/cambiar-toner.jpg);
    background-size: cover;
    background-position: center;
    }

.textorepuestos { 
    grid-area: textorepuestos;
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tex-serv{
    font-size: 80px;
}
.alquiler{
    background-image: url(./img/foto\ seccion1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}
.alqui{
    background-color: $color9;
    width: 100%;
    min-height: 700px;
}
.text-alquiler{
    color: $color7;
    text-shadow: 1px 1px $color2;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


@media screen and (min-width:780px) and (max-width:1024px) {
    .principal{
        background-color: $color9;
        width: 100%;
        }
        .tex-envios{
            font-size: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .footer{
            height:300px ;
        }
        .maquinas{
            height: 5100px;
        }
        .insumos-container{
            height: 4000px;
        }
}
@media screen and (min-widht:480px) and (max-width:780px) {
    .baner{
        background-image: url(./img/fondo\ banner\ 3.jpg);
        height: 1000px;
        width: 100%;
    }
    .principal{
        background-color: $color9;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .h1{
        font-size: 20px;
    }
    .card-product{
        gap: 5%;
        height: 4000px;
    }
    .envios{
        background-color: $color5;
        height: 000px;
    }  
    .tex-envio{
        font-size: 5px;
        padding: 0;
    }
    .footer{
        height: 300px;
    .p{
        height:10px;
    }
    .h4{
        height: 15px;
    }
    }
    .maquinas{
        height: 8000px;
        gap: 5%;
    }
    .insumos-container{
        height: 12000px;
        gap: 5%;
    }

}























