@import url("https://fonts.googleapis.com/css2? family= Baile+Script & family= Fredoka:wght@300 & family= Handlee & familia= Montserrat:peso@200 &family= Tajawal:wght@800 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Baile+Script & family= Fredoka:wght@300 & family= Handlee & familia= Montserrat:peso@200;700 &family= Tajawal:wght@800 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Baile+Script & family= Fredoka:wght@300 & family= Handlee & familia= Montserrat:ital,peso@0,200;0,700;1,500;1,600 &familia = Fuente + Sans + Pro: peso @ 600 &family= Tajawal:wght@800 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo1 {
  background: #3a82b4;
  background: linear-gradient(90deg, rgba(58, 130, 180, 0.8774860286) 0%, rgba(253, 100, 29, 0.9307073171) 50%, rgba(245, 243, 241, 0.9223039558) 100%);
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #ff3300;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px black;
}

.logo2 {
  color: #0077ff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-shadow: 1.5px 1.5px black;
  text-transform: uppercase;
}

.navbar {
  background-color: #ff3300;
}

.navlogo {
  color: #0077ff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-shadow: 1.5px 1.5px black;
}

.navlogo:hover {
  color: white;
  text-shadow: 2px 2px black;
}

.nav-link {
  color: #0077ff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.nav-link:hover {
  color: white !important;
}

.navitem {
  color: #0077ff;
}

.baner {
  background-image: url(./img/fondo\ banner\ 3.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 500px;
  display: flex;
  text-align: center;
}

.principal {
  background-color: rgba(29, 34, 75, 0.5);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  color: #0077ff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 1.5px 1.5px #ff3300;
}

.subti {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: 1.5px 1.5px #0077ff;
}

.p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  text-transform: capitalize;
  text-shadow: 1px 1px #0077ff;
}

button {
  background-color: #0077ff;
  color: #ff3300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  text-shadow: 1.5px 1.5px black;
  border: double 5px #ff3300;
}

button:hover {
  color: #0077ff;
  background-color: #ff3300;
  text-shadow: 1.5px 1.5px black;
  border: double 5px #0077ff;
}

.nos {
  background-image: url(./img/nosotros.svg);
  background-size: cover;
  width: 100%;
  height: 800px;
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  padding: 10%;
  gap: 10%;
  width: 100%;
  height: 500px;
}

.card-img-top {
  height: 200px !important;
}

.card-body {
  height: 280px;
  background-color: #70befd;
}

.card-title {
  color: #0077ff;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  background-color: #ff3300;
}

.card-text {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center;
  align-items: center;
}

.btn-primary {
  color: #ff3300;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #0077ff;
  border: double 3px black;
  text-shadow: 0.5px 0.5px white;
  padding: 3%;
}

.btn-primary:hover {
  color: #0077ff;
  background-color: #ff3300;
}

.footer {
  background: #3a82b4;
  background: linear-gradient(90deg, rgba(58, 130, 180, 0.8774860286) 0%, rgba(253, 100, 29, 0.9307073171) 50%, rgba(245, 243, 241, 0.9223039558) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: column;
  grid-template-areas: "ubicacion email telefonos horarios";
}

.ubicacion {
  grid-area: ubicacion;
  text-align: center;
  justify-content: center;
  font-size: "Montserrat", sans-serif;
}

.email {
  grid-area: email;
}

.telefonos {
  grid-area: telefonos;
}

.horarios {
  grid-area: horarios;
}

p {
  color: #ff3300;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #0077ff;
  text-shadow: 1px 1px black;
}

h2 {
  padding: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  text-shadow: 1.8px 1.8px #0077ff;
}

/*# sourceMappingURL=estilos.css.map */
